@{
    Layout = "_Layout";
}
@using HR.Models
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">ประเภทรายการหัก</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-12 text-right">
                <a class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> เพิ่มประเภทรายการหัก</a>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        ประเภทรายการหัก
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="datatable" class="table dataTable table-responsive">
                                        <thead>
                                            <tr>
                                                <th class="text-center">ลำดับ</th>
                                                <th class="text-center">ประเภทรายการหัก</th>
                                                <th class="text-center">จัดการ</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center">
                                            @{ int i = 1;}
                                            @foreach (var item in ViewData["minus"] as List<info_minusModel>)
                                            {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.minus_name</td>
                                                <td>
                                                    <a class="btn btn-primary viewMinus" data-toggle="modal" data-target="#myModalViewMinus" ref="@item.minus_id"><i class="fa fa-search" ></i> ดูรายละเอียด</a>
                                                    <a class="btn btn-warning editMinus" data-toggle="modal" data-target="#myModalEditMinus" ref="@item.minus_id"><i class="fa fa-edit"></i> แก้ไขข้อมูล</a>
                                                    <a class="btn btn-danger delMinus" ref="@item.minus_id"><i class="fa fa-trash"></i> ลบ</a>
                                                </td>
                                            </tr>
                                                i++;
                                            }
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
@{ Html.BeginForm("cut", "Information", FormMethod.Post);}
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ประเภทรายการหัก</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            รายการหัก
                        </div>
                        <div class="col-sm-9">
                            @Html.TextBox("cut", "", new { @class = "form-control", @placeholder = "ระบุประเภทรายการหัก", @required = "true" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            ผู้บันทึกข้อมูล
                        </div>
                        <div class="col-sm-9">
                            @Html.TextBox("admin", "ขวัญฤทัย  เสมอกลาง", new { @class = "form-control", @readonly = "true" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="บันทึกข้อมูล" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>
</div>
@{ Html.EndForm();}
<!----->
@{ Html.BeginForm("editMinus","Information",FormMethod.Post);}
    <div class="modal fade" id="myModalEditMinus" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ประเภทรายการหัก</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                รายการหัก
                            </div>
                            <div class="col-sm-9">
                                @Html.TextBox("minus_edit", "", new { @class = "form-control", @placeholder = "ระบุประเภทรายการหัก", @required = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                ผู้บันทึกข้อมูล
                            </div>
                            <div class="col-sm-9">
                                @Html.TextBox("admin", "ขวัญฤทัย  เสมอกลาง", new { @class = "form-control", @readonly = "true" })
                                @Html.TextBox("minus_id","",new { @class="form-control", @type="hidden"})
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <div class="text-center">
                        <input type="submit" class="btn btn-primary" value="บันทึกข้อมูล" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{ Html.EndForm();}
<!----->
<!----->
    <div class="modal fade" id="myModalViewMinus" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ประเภทรายการหัก</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                รายการหัก
                            </div>
                            <div class="col-sm-9 minus_view">
                               
                            </div>
                        </div>
                    </div>
                 
                </div>
                <div class="modal-footer text-center">
                    <div class="text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!----->
    <script src="~/lib/jquery/dist/jquery-3.2.1.min.js"></script>
    <script>
        $(document).on('click', '.editMinus', function () {

            var x = $(this).attr('ref');
            $('#minus_id').val(x);

            $.get('../../Information/getMinus?minus=' + x, function (data) {


                $('#minus_edit').val(data);
            })

        })
        $(document).on('click', '.viewMinus', function () {

            var x = $(this).attr('ref');

            $.get('../../Information/getMinus?minus=' + x, function (data) {


                $('.minus_view').text(data);
            })



        })
    </script>
    <script>
        $(document).on('click', '.delMinus', function () {


            var x = $(this).attr('ref');
            swal({
                title: "คุณต้องการลบข้อมูลนี้ใช่หรือไม่?",
                //text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "red",
                confirmButtonText: "ใช่, ลบข้อมูล!",
                cancelButtonText: "ไม่, ยกเลิก",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {

                    $.get('../../Information/del_minus?id=' + x, function () {

                        swal("ลบข้อมูลเรียบร้อยแล้ว!", "", "success");
                        location.reload();
                    })


                } else {

                    swal("ยกเลิกแล้ว", "", "error");
                }
            });

        })
    </script>